a { 
    color : black;
    text-decoration : none;
}

#uservoice-feedback-tab {
    display : none;
}

#djDebug {
    display : none;
}

#menu {
    display : none;
}

.tabs {
    display : none;
}

#crumbs {
    display : none;   
}

.paid-by-invoice {
    display : block;
}

.change {
    display : none;
}

.header {
    display : none;
}

.ticket-detail {
  margin: 1em;
  position: relative;
}

.task-opener {
    font-size : 18px;
}

#order-expert-review {
    display : none;
}

.small-score-print {
    float : right;
}

.small-score-print .result {
    font-size : 160%;
    font-weight : bold;
    margin-left : 5px;
}

.above-tasks-print {
    display : none;
}

.above-tasks-print #total-result {
    display : block;
}

.footer {
    display : none;
}

.value {
    text-align : left;
}

.task-header-task-name-print {
    font-size : 16px;
    font-weight : bold;
}

.submit-selector {
    display : none;
}

.submited-print {
    font-size : 15px;
    font-weight : bold;
}

.detected-time-print {
    text-align : center;
    margin-left : 4em !important;
}

.tab {
    font-weight : normal;
    width : 415px;
}

.solution-sourcecode-print {
    width : 415px !important;
}

.user_notes_right {
    font-size : 12px;
}

.tab th {
    font-weight : bold;
    font-size : 120%;
    background-color : red;
}

.ticket-hdr {
    padding: 5px;      
    padding-left : 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size : 12px;
}

.a-timeline {
    display : none;
}

.hdr {
    width : 390px;
    padding: 5px 5px 5px 20px;
    margin : 0px 0px 10px 0px;
    font-weight: bold;
    font-size : 12px;
    background-color: #ddd;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
}

.ticket-detail #nick {
  font-size: 200%;
  font-style : italic;
}

.ticket-detail #total-result {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  text-align: center;
  background-color: #ddd;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  padding: 3px;
}

.ticket-detail .ticket-hdr {
    width: auto; 
    padding: 5px;   
    padding-left: 1em;
    background-color: #ddd;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: bold;
} 

.ticket-detail #actual-result {
  font-size: 600%;
  display: block;
}

.ticket-detail #actual-result-pr {
  font-size: 600%;
  display: block;
}

.ticket-detail #max-result {
  display: block;
}

.ticket-detail .task {
  margin: 1em 0;
}

.ticket-detail .task-header {
  border: 1px solid black;
  padding: 1em;
}

.ticket-detail .score-histogram {
}

.ticket-detail .task-synopsis {
  text-decoration: none;
  font-color: black !important;
  margin-right: 200px;
}

.ticket-detail .task-details {
  border: 1px solid black;
  border-top: none;
  margin: 0px;
  padding : 10px;
}
