.ticket-detail {
  margin: 1em;
  position: relative;
}

.ticket-detail .ticket-hdr {
  width: auto;
  padding: 5px;      
  padding-left: 1em;
  background-color: #ddd;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: bold;
}

.ticket-detail .hdr {
  width: auto;
  padding: 5px;      
  padding-left: 1em;
  background-color: #ddd;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: bold;
}
.ticket-detail .hdr-dark {
  background-color: #bbb;
}

.ticket-detail #nick {
  font-size: 200%;
  font-style: italic;
}

.ticket-detail #total-result {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  text-align: center;
  background-color: #ddd;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  padding: 3px;
}

.ticket-detail #actual-result {
  font-size: 600%;
  display: block;
}

.ticket-detail #actual-result-pr {
  font-size: 600%;
  display: block;
}

.ticket-detail #max-result {
  display: block;
}

.ticket-detail .task {
  margin: 1em 0;
}

.ticket-detail .task-header {
  border: 1px solid black;
  padding: 1em;
  position: relative;
}

.ticket-detail .task-header .result {
    font-size : 150%;
    font-weight : bold;
}

.ticket-detail .score-histogram {
  position: absolute;
  right: 5px;
  top: 5px;
}

.ticket-detail .result {
  position: absolute;
  right: 100px;
  top: 5px;
}

.ticket-detail .task-synopsis {
  text-decoration: none;
  font-color: black !important;
  margin-right: 200px;
}

.ticket-detail .task-details {
  border: 1px solid black;
  border-top: none;
  margin: 0 1em;
  padding: 1em;
}

.tab pre {
    margin: 0px;
    padding: 0px;
}
.solution-slider-container {
  margin-top: 10px;
  padding:10px;
  position: relative;
}
.solution-timeline-container {
  height: 1px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 2px;
}
.task-timeline {
  margin-top: 10px;

  width:100%;
  height: 1px;
  border-top: 2px solid #ddd;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.workbar {
  border: 2px solid rgb(0,102,153);
  height: 0px;
  margin-top: -3px;
  background: red;
  position: absolute;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.submit-outer {
  position: absolute;
  margin-left: -10px;
  margin-top: -22px;
  border-bottom: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=pink);
}
.outer-final {
  border-top: 14px solid black;
  margin-top: -26px;
}
.outer-verify {
  border-top: 10px solid black;
}
.submit-inner {
  position:absolute;
  margin-left: -8px;
  margin-top: -9px;
  border-bottom: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=pink);
}

.inner-final {
  border-top: 12px solid rgb(0,102,153);
  margin-top: -13px;
}
.inner-verify {
  border-top: 8px solid #ddd;
}
